<div>
    <div class="w-60 h-80 overflow-hidden">
        <div class="h-60 bg-white overflow-hidden collection-card-clip flex items-center justify-center">
            {{ placeholder_id | placeholder_svg_tag: "w-3/4 m-auto object-cover" }}
        </div>

        <p class="text-center">Placeholder</p>
    </div>
</div>