<div class="w-full collection-list">
    <!-- Large Devices -->
    <div class="w-full my-6 flex flex-col w-screen">
        <div class="flex flex-row justify-center shrink-0 gap-4">
        {% for collection in section.settings.collection_list %}
            {% assign column_index = forloop.index | modulo: section.settings.items_per_row %}

            {% render "collection-list-card", featured_collection: collection, show_names: section.settings.show_names %}

            {% if column_index == 0 %}
        </div>
        <div class="flex flex-row justify-center shrink-0 gap-4">
            {% endif %}
        {% else %}
            {% for _ in (1..section.settings.items_per_row) %}
                {% capture placeholder_id %}{% cycle "large": "collection-1", "collection-2", "collection-3", "collection-4", "collection-5", "collection-6" %}{% endcapture %}

                {% render "collection-list-card-placeholder", placeholder_id: placeholder_id %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>

    <!-- Mobile Devices -->
    <div class="w-full my-6 flex flex-col w-screen overflow-x-scroll hidden">
        <div class="flex flex-row shrink-0 gap-4">
        {% for collection in section.settings.collection_list %}
            {% assign column_index = forloop.index | modulo: section.settings.items_per_row %}

            {% render "collection-list-card", featured_collection: collection, show_names: section.settings.show_names %}

        {% else %}
            {% for _ in (1..section.settings.items_per_row) %}
                {% capture placeholder_id %}{% cycle "small": "collection-1", "collection-2", "collection-3", "collection-4", "collection-5", "collection-6" %}{% endcapture %}

                {% render "collection-list-card-placeholder", placeholder_id: placeholder_id %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Collections List",
    "settings": [
        {
            "type": "collection_list",
            "id": "collection_list",
            "label": "Collections To Show"
        },
        {
            "type": "range",
            "id": "items_per_row",
            "min": 2,
            "max": 6,
            "default": 4,
            "label": "Max Items Per Row"
        },
        {
            "type": "checkbox",
            "id": "show_names",
            "default": true,
            "label": "Show Collection Names"
        }
    ],
    "presets": [
        {
            "name": "Collections List"
        }
    ]
}
{% endschema %}