{% assign products_per_page_float = section.settings.number_of_products_per_page | times: 1.0 %}
{% assign page_count_decimal = section.settings.featured_collection.products.size | divided_by: products_per_page_float %}
{% assign page_count = page_count_decimal | ceil %}

{% comment %} Mobile Swiper {% endcomment %}
<div class="my-6 sm:block md:hidden">
    <h1 class="text-center text-3xl">{{ section.settings.title }}</h1>

    {% if section.settings.featured_collection.products.size <= 1 %}
        <div class="flex flex-row justify-center shrink-0 gap-4">
            {% for product in section.settings.featured_collection.products %}
                {% render 'product-card', product_product: product %}
            {% else %}
                {% for item in (1..section.settings.number_of_products_to_show) %}
                    {% render 'product-card-placeholder' %}
                {% endfor %}
            {% endfor %}
        </div>
    {% else %}
        <div class="swiper">
            <div class="swiper-wrapper">
                <!-- <div class="max-w-6xl mx-auto"> -->
                
                <div class="swiper-slide">
                    <div class="flex flex-row justify-center shrink-0 gap-4">
                    {% for product in section.settings.featured_collection.products %}

                        {% render 'product-card', product_product: product %}

                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex flex-row justify-center shrink-0 gap-4"> {% comment %} A new page for the swiper {% endcomment %}
        
                    {% else %}
                        {% render 'product-card-placeholder' %}
                    {% endfor %}

                    </div>
                </div>
                <!-- </div> -->
            </div>
            
            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    {% endif %}
</div>

{% comment %} Normal Devices {% endcomment %}
<div class="my-6 hidden md:block">
    <h1 class="text-center text-3xl">{{ section.settings.title }}</h1>

    {% if section.settings.featured_collection.products.size <= section.settings.number_of_products_per_page %}
        <div class="flex flex-row justify-center shrink-0 gap-4">
            {% for product in section.settings.featured_collection.products %}
                {% render 'product-card', product_product: product %}
            {% else %}
                {% for item in (1..section.settings.number_of_products_to_show) %}
                    {% render 'product-card-placeholder' %}
                {% endfor %}
            {% endfor %}
        </div>
    {% else %}
        <div class="swiper">
            <div class="swiper-wrapper">
                <!-- <div class="max-w-6xl mx-auto"> -->
                
                <div class="swiper-slide">
                    <div class="flex flex-row justify-center shrink-0 gap-4">
                    {% for product in section.settings.featured_collection.products %}
                        {% assign current_page_number = forloop.index | divided_by: section.settings.number_of_products_per_page %}
                        {% assign in_page_index = forloop.index | modulo: section.settings.number_of_products_per_page %}
                        
                        {% render 'product-card', product_product: product %}

                        {% if in_page_index == 0 and page_count != current_page_number %}
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex flex-row justify-center shrink-0 gap-4"> {% comment %} A new page for the swiper {% endcomment %}
                        {% endif %}
        
                    {% else %}
                        {% for item in (1..section.settings.number_of_products_to_show) %}
                            {% render 'product-card-placeholder' %}
                        {% endfor %}
                    {% endfor %}

                    </div>
                </div>
                <!-- </div> -->
            </div>
            
            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    {% endif %}
</div>


{% schema %}
{
    "name": "Featured Collection",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Featured Collection",
            "label": "Title"
        },
        {
            "type": "collection",
            "id": "featured_collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "number_of_products_per_page",
            "min": 1,
            "max": 6,
            "default": 4,
            "label": "Number of products per page"
        }
    ],
    "presets": [
        {
            "name": "Featured Collection"
        }
    ]
}
{% endschema %}