[x-cloak] { 
    display: none !important;
}

:root {
    --swiper-theme-color: black;
}

.collection-card-clip {
    clip-path: circle(40%);
}

.banner-height-large {
    height: calc(85vh - 76px);
}

.banner-height-small {
    height: calc(50vh - 76px);
}