@tailwind base;
@tailwind components;
@tailwind utilities;

.review-sizing {  
    min-width: calc(100vw - 80px);
    max-width: calc(100vw - 80px);

    @media screen(md) {
        min-width: 32rem; /* w-128 */
        max-width: 32rem; /* w-128 */
    }
}